body {
  margin-top: 10px;
  margin-left: 10px;
  font-family: helvetica;
}

h1 {
    font-style: italic;
}

.tab {
    width: 33.3% !important;
}

.stats {
  text-align: center;
}

.stat {
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  padding: 2px 4px;
  margin: 0px 7px;
}

.cards {
  float: left;
  margin: 10px !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderCards {
  width: 12% !important;
  float: left;
  margin: 10px !important;
}

.turn {
  margin: 0px auto;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}

#orderField {
  width: 80%;
  margin: auto;
}

.searchBar {
  float: right;
  margin-right: 2%;
  margin-left: 72%;
  margin-bottom: 10px;
}

.monsterSpan {
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  padding-left: 5px;
  margin-right: 5px;
}

.customButton {
  padding-top: 12.5px !important;
}

.initInput {
  color: rgba(0,0,0,.68);
  border-style: none;
  padding: 0px;
  margin-left: 2px;
  margin-right: 0px;
  width: 30px;
}

.deleteMonsterIcon {
  position: relative;
  bottom: 360px;
  left: 67px;
}

.deletePlayerIcon {
  position: relative;
  left: 255px;
  bottom: 257px
}

.orderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*width: 15%;*/
  /*margin-left: 70px;
  margin-top: 20px;*/
}

.monsterImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 224px !important;
}

.monsterImg {
  max-width: 290px;
  max-height: 224px;
}

.numberDropdown {
  width: 50px !important;
  display: inline-block;
  float: left;
}

/*.clearMonsters {
  padding: 1px !important;
  margin: 0px !important;
  font-size: 12px !important; 
  margin-left: 20px !important; 
}
*/

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px !important;
}

.field {
  width: 20% !important;
  height: 20% !important;
}

.classImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 224px !important;
}

.classImg {
  max-width: 290px;
  max-height: 224px;
}

.monsterDropdown {
  float: left;
  width: 50% !important;
}

.ourCheckbox {
  float: right !important;
}

.monsterFormButton {
  margin-bottom: 10px !important;
}

.orderInput {
  width: 35px;
}


