body {
  margin-top: 10px;
  margin-left: 10px;
  font-family: helvetica;
}

h1 {
    font-style: italic;
}

.tab {
    width: 33.3% !important;
}

.stats {
  text-align: center;
}

.stat {
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  padding: 2px 4px;
  margin: 0px 7px;
}

.cards {
  float: left;
  margin: 10px !important;
}

.orderCards {
  width: 12% !important;
  float: left;
  margin: 10px !important;
}

#playerField {
  display: block;
  background-color: black !important;
  width: 100%;
}

#monsterField {
  display: block;
  width: 100%;
}

.turn {
  margin: 0px auto;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}

#orderField {
  width: 80%;
  margin: auto;
}