body {
  margin-top: 10px;
  margin-left: 10px;
  font-family: helvetica;
}

h1 {
    font-style: italic;
}

.tab {
    width: 33.3% !important;
}

.stats {
  text-align: center;
}

.stat {
  margin: 0px 7px;
}

.cards {
  float: left;
  margin: 10px !important;
}

#playerField {
  display: block;
  background-color: black !important;
  width: 100%;
}

#monsterField {
  display: block;
  width: 100%;
}